In [1]:
import pandas as pd
import numpy as np

# Import Data
transactions_df = pd.read_csv('/Users/brittanyharding/LHL-Projects/mini-project-III/clean_data/all_transactions_data.csv')

In [3]:
pd.set_option('display.max_columns', 63)
transactions_df.head()

,cust_id,acct_nbr_x,credit_limit,credit_rating,account_active_x,acct_start_date_x,acct_end_date_x,starting_balance_x,ending_balance_x,average_transaction_time_x,CA,CG,FA,IQ_x,PM,tran_amt_x,principal_amt_x,interest_amt_x,new_balance_x,avg_days_btwn_trans_x,acct_nbr_y,minimum_balance_x,per_check_fee,account_active_y,acct_start_date_y,acct_end_date_y,starting_balance_y,ending_balance_y,average_transaction_time_y,DP,FK,FM,FP,FU,IN,IQ_y,TR,WD,tran_amt_y,principal_amt_y,interest_amt_y,new_balance_y,avg_days_btwn_trans_y,acct_nbr,minimum_balance_y,acct_type,account_active,acct_start_date,acct_end_date,starting_balance,ending_balance,average_transaction_time,DP,FU,IN,IQ,TR,WD,tran_amt,principal_amt,interest_amt,new_balance,avg_days_btwn_trans
0,1363160,4.561143e+15,1000.0,0.0,1.0,1988-10-12,NaN,657.46,286.69,NaN,6.0,46.0,0.0,4.0,12.0,380.03,370.77,9.26,-286.69,5.313433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13631603.0,100.0,BS,Y,1988-05-09,NaN,113.04,122.54,16:11,11.0,8.0,12.0,5.0,6.0,6.0,9.50,6.25,3.25,122.54,7.489362
1,1362487,4.561143e+15,3000.0,0.0,1.0,1995-08-08,NaN,0.00,1548.23,19:47,3.0,23.0,0.0,2.0,4.0,-1535.59,-1548.23,13.63,-1548.23,4.387097,13624872.0,3000.0,0.00,1.0,1995-01-12,NaN,2781.07,1401.21,19:47,2.0,0.0,0.0,12.0,0.0,12.0,6.0,4.0,16.0,-1378.69,-1409.55,30.86,1401.21,6.549020,13624873.0,500.0,MM,N,1994-06-27,1995-08-25,651.73,12.89,18:35,1.0,0.0,7.0,4.0,2.0,5.0,-638.84,-645.47,6.63,12.89,10.777778
2,1362548,4.561143e+15,6700.0,0.0,1.0,1986-11-11,NaN,6965.25,68.68,16:13,0.0,13.0,0.0,1.0,8.0,6977.25,6896.57,80.68,-68.68,16.047619,13625482.0,3000.0,0.00,1.0,1986-11-11,NaN,6004.34,569.65,16:13,15.0,0.0,0.0,5.0,12.0,9.0,12.0,10.0,36.0,-5434.69,-5463.65,28.96,569.65,2.857143,13625483.0,100.0,BS,Y,1986-11-11,NaN,250.24,254.02,23:58,0.0,0.0,12.0,0.0,0.0,0.0,3.78,0.00,3.78,254.02,30.363636
3,1362752,4.561143e+15,2400.0,0.0,0.0,1994-10-09,1995-04-02,2302.14,0.00,14:40,1.0,9.0,0.0,1.0,4.0,2406.65,2302.14,104.69,0.00,6.428571,13627522.0,100.0,0.15,1.0,1994-01-08,NaN,487.69,3.76,14:40,8.0,19.0,0.0,6.0,9.0,0.0,18.0,8.0,25.0,-483.93,-483.93,0.00,3.76,3.945652,13627523.0,100.0,BS,Y,1995-02-20,NaN,600.26,609.33,23:58,0.0,0.0,12.0,0.0,0.0,0.0,9.07,0.00,9.07,609.33,30.363636
4,1363017,4.561143e+15,1000.0,0.0,1.0,1995-02-08,NaN,0.00,1000.00,13:56,4.0,46.0,0.0,3.0,10.0,-956.10,-1000.00,44.44,-1000.00,5.145161,13630172.0,3000.0,0.00,1.0,1994-03-19,NaN,2694.91,147.15,13:56,16.0,0.0,0.0,2.0,2.0,2.0,19.0,8.0,50.0,-2547.76,-2548.53,0.77,147.15,0.663265,13630173.0,100.0,BS,N,1994-04-27,1995-10-31,2011.02,2901.35,17:04,4.0,0.0,10.0,4.0,0.0,6.0,890.33,857.83,32.50,2901.35,11.869565

# IN MORNING GO BACK AND EDIT INDEX NAMES TO INCLUDE CREDIT/CHECKING/SAVINGS FOR PRINCIPLE AMOUNT, INTEREST ETC.